:root {
  --light: hsl(260, 18%, 90%);
  --light-mid: hsl(260, 18%, 80%);
  --mid: hsl(260, 18%, 70%);
  --dark: hsl(260, 10%, 40%);
  --deep: hsl(260, 10%, 20%);
  --black: hsl(260, 10%, 5%);
  --slider-width: 150px;
  --slider-offset: calc(50px / 2); /* label width/2 */
  --spinner-control-size: 20px;
}

ul.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

ul.controls > li {
  width: calc(var(--slider-width) + var(--spinner-control-size) + 10px);
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

ul.controls > li.control-buttons {
  width: auto;
}

.slider {
  position: relative;
  -webkit-appearance: none;
  width: var(--slider-width);
  margin-left: 0;
  margin-right: 0;
  height: 10px;
  border-radius: 5px;
  background: var(--light-mid);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: var(--mid);
  border: 4px solid #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: var(--mid);
  border: 4px solid #000;
  cursor: pointer;
}

.slider ~ label {
  position: relative;
  left: 0;  
  bottom: 42px;
  font-size: 0.75rem;
}

.btn {
  cursor: pointer;
  color: var(--black);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: var(--mid);
  border: none;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  padding: 4px 8px;
  text-decoration: none;
  display: inline-block;
}

button#play-state {
  min-width: 80px;
}

.btn:hover {
  background-color: var(--light);
}